:root {
  --app-height: 100vh;
  --isi-judul-bg-path: "";
}

* {
  padding: 0;
  margin: 0;
  border: 0 none;
}

@font-face {
  font-family: "Rafaela Signature Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Rafaela Signature Regular"),
    url("../fonts/Rafaela Signature Regular.woff") format("woff");
}

@font-face {
  font-family: "Sunsilk Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sunsilk.woff") format("woff");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}

/* --------------- COVER start--------------------- */

.section#cover {
  /* max-width: 450px; */
  max-height: 100vh;
}

.section#cover.buka {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
  /* max-width: 450px; */
}

.wrapper#cover-bg {
  overflow: hidden;
}

.wrapper img#cover-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.wrapper span {
  font-family: "Sunsilk Regular";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper span#the-wedding-of {
  top: 15%;
  letter-spacing: 4px;
}

.wrapper span#nama-pengantin {
  font-size: 2.5rem;
  font-family: Rafaela Signature Regular;
  top: 65%;
}

.wrapper#cover-bg:after {
  padding: 0;
  margin: 0;
  content: "";
  z-index: -1;
  /* max-width: 450px; */
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgb(20, 12, 12),
    rgba(128, 128, 128, 0.25) 70%
  );
}

.wrapper#cover-flower {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6%;
  left: 50%;
  min-width: 50px;
  min-height: 50px;
  height: 8%;
  width: 8%;
  overflow: hidden;
  transform: translateX(-50%);
}

.wrapper#cover-flower img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  margin: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn button {
  position: relative;
  padding: 1rem 2rem;
  background: #171618;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: 700 0.75rem consolas;
  cursor: pointer;
  overflow: hidden;
}

.btn button span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #ffffff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn button span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #171618, #ffffff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.btn button span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #ffffff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn button span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, #171618, #ffffff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* --------------- COVER End--------------------- */

/* --------------- ISI start--------------------- */

.section#isi {
  display: none;
}

.section#isi.buka {
  display: block;
  height: 100%;
  width: 100%;
}

/* --------------- ISI end--------------------- */

/* Media Query */

/* Hand phone */
@media (max-width: 450px) {
  .wrapper {
    height: var(--app-height);
  }
}

/* UTILS */

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.spacer {
  display: block;
  height: 6rem;
  width: 100%;
}

.spacer-half {
  display: block;
  height: 3rem;
  width: 100%;
}
